
/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    padding: 1rem;
    padding-left: 20px;
   width: 100%;
    gap: 20px;
    height: 30px;
    background-color: #025c5cfb;
}
.cabecera_logo_titulo{
    display: flex;
    gap: 20px;
    align-items: center;
}
.cabecera__logo {
    width: 60px;
    height: 60px;
}   


.navegacion__lista{
    display: flex;
    white-space: nowrap;
    overflow: scroll;
    gap: 15px;
    width: 330px;

}


.navegacion__elemento a {
    font-size: 0.9rem;
}

main{

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 65px;
    
}


.redes{
display: flex;
gap: 15px;
width: 250px;
flex-flow: row wrap;
}

/* habilidades*/
.habilidades,
.aficiones,
.formacion,
.proyectos{
    display: flex;
    flex-direction: column;
    gap: 20px;

}



.habilidades__elemento,
.aficiones__lista{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
  

}




.habilidades__titulo{
    text-align: center;
}


/*aficiones*/

.aficiones__lista
{
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
}
.aficiones__titulo{
    text-align: center;
}




/*formacion*/
.formacion{
    align-items: center;
   
    padding: 20px;

}
.formacion__lista{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.formacion__elemento{
    display: flex;
    flex-direction: column;

}


/*Sesión proyecto*/

.proyectos__titulo,
.proyectos__contenedor{
display: flex;
flex-direction: column;

}


.proyectos__contenedor{
display: flex;
text-align: center;
gap: 30px;
}



.proyectos_img{
width: 90%;
}



.proyectos_nav-ul{
display: flex;
flex-direction: row;
justify-content: center;
gap: 40px;
}






/*Contacto*/
   
    .contacto__titulo
    .contacto__formulario{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .contacto__campo{
        width:100%;
    
    }  

    

    .contacto__campo--textarea{
        height: 70px;
    }

    
/*Footer*/
.footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.footer-navigation-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}


/* Tablets y pantallas más grandes */
@media (min-width: 768px) {
    /*Cabecera*/
    .cabecera {
        flex-direction: row;
        align-items: center;
       
    }

    .navegacion__lista{
        display: none;
       overflow: hidden;
       ;
        gap: 15px;
        width: 100%;

    
    }
    .main{
        width: 100%;
    }
    .cabecera__logo {
        max-width: 100px;
    }

    .cabecera__titulo {
        font-size: 1.5rem;
    }
    .presentacion{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        gap:10px;
    }

    .navegacion__lista {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
        white-space:nowrap ;
    }
    
    .navegacion__elemento a {
        font-size: 1rem;
    }
    .habilidades__elemento{
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .habilidades__elemento-iconoParrafo{
        background-color:var(--color-elementos);
        text-align: center;
        padding: 70px;
       

    }

  

   /*redes*/
    .redes{
        display: flex;
        flex-flow: none;
        flex-direction: row;
        width: 100%;
    }
        

    /*formacion*/
    .formacion__lista{
        display: flex;
        flex-direction: row;
        justify-content: center;
       
    }

    /* Footer */
    .footer {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: center;
        width: 100%;
        height: 100px;
        box-shadow: 10px 10px 10px 10px;
        
    }

    
    .footer-navigation-list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-top: 25px;
    }


    
        
    
}


/* Pantallas grandes */
@media (min-width: 1024px) {
  
  
}
